name: test

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    container:
      image: qqiao/dev-env:latest
      options: --user root

    steps:
      - uses: actions/checkout@v2
      - run: firebase emulators:start
      - run: FIRESTORE_EMULATOR_HOST=localhost:8080 go test -v ./...
